.body {
  height: 100%;
  background-color: #2e1b09;
}
.sidebar-col {
  width: 22%;
  max-width: 22%;
  height: 100vh;
  border-right: 1px solid black;
  overflow: hidden;
}
.main-col {
  width: 78%;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#2c5a39, #2c3a20, #2e1b09 80%);
}
aside {
  background: radial-gradient(
    at 100% 50%,
    #2e220e 10vh,
    #2e1b09 50%,
    #1b140b 100%
  );
}
.btn {
  font-size: 30px;
  margin: 2px;
  margin-left: 10px;
  border: 1px solid black;
}
.btn-oval {
  border-radius: 50%;
  color: #2e1b09;
  background-color: darkgoldenrod;
}
.game-customization-box:first-child {
  margin-top: 20px;
  width: 100%;
}
.holder-btn-oval {
  display: flex;
  justify-content: center;
  margin-right: 2px;
}
#btn-remove-player {
  margin-top: 20px;
  border: 2px groove white;
}
.game-customization-box {
  display: inline-block;
  min-height: 48%;
}

.money-box {
  height: 48%;
  font-size: 27px;
  margin-left: 0px;
}
.avg-stack-count {
  color: gold;
}
.row-centered {
  justify-content: center;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 1) 0px 1px 2px;
}

/* body
{
  background: radial-gradient(#2c5a39 ,#2c3a20 ,#2e1b09 80%);
} */
* {
  font-family: "Sancreek", cursive;
  color: wheat;
  user-select: none;
}
.data-title {
  font-size: 120px;
  margin-bottom: 40px;
  text-shadow: rgba(0, 0, 0, 1) 0px 1px 2px;
}
.chip-roundchange {
  color: blue;
  margin-bottom: 10px;
  text-shadow: none;
}
#round {
  color: wheat;
  font-family: "Pinyon Script", cursive;
  font-size: 70px;
}
.round-info {
  display: flex;
  justify-content: center;
}

.clock-divider {
  color: gold;
  justify-content: center;
  font-size: 400px;
  flex-grow: 1;
}

.clock-min,
.clock-sec {
  color: gold;
  text-align: right;
  font-size: 400px;
}
.clock-sec {
  text-align: left;
}
#poker_play_pause a,
#poker_previous_round a,
#poker_next_round a {
  color: #fff;
  display: inline-block;
  font-family: georgia;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  width: 80px;
  text-align: center;
}

#poker_play_pause a {
  color: #fff;
  background: red;
  border: 10px dotted #fff;
  border-radius: 50px;
}

#poker_play_pause .play span {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 15px;
  display: block;
  height: 0px;
  left: 50%;
  margin-left: -5px;
  margin-top: -15px;
  position: relative;
  top: 50%;
  width: 0px;
  bottom: 0px;
}

#poker_play_pause .pause {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#poker_play_pause .pause span:before {
  content: "=";
  font-size: 50px;
  position: relative;
  bottom: 13px;
}

#poker_previous_round {
  text-align: right;
  display: flex;
  justify-content: right;
}
#poker_previous_round a {
  background: rgb(71, 105, 51);
  border: 10px dotted #fff;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#poker_next_round {
  text-align: left;
}
#poker_next_round a {
  background: #333;
  border: 10px dotted #fff;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

h2 {
  color: #fff;
  font-family: georgia;
  font-size: 60px;
  margin: 0;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 1) 0px 1px 2px;
}

#span-clock-filler {
  position: relative;
  width: 500px;
  display: block;
  height: 30px;
}
.clock {
  color: gold;
  font-family: georgia;
  font-size: 300px;
  margin-top: -85px;
  margin-bottom: -85px;
  text-align: center;
  position: relative;
  text-shadow: rgba(0, 0, 0, 1) 0px 2px 2px;
  display: flex;
  justify-content: center;
}

#poker_blinds {
  text-align: center;
  margin: -15px;
}

.blinds {
  text-align: center;
  margin: -25px;
}

.blinds span {
  color: gold;
  font-family: georgia;
  font-size: 120px;
  text-shadow: rgba(0, 0, 0, 1) 0px 2px 2px;
}

.settings,
.reset {
  color: #fff;
  display: block;
  font-family: georgia;
  font-size: 30px;
  height: 40px;
  margin: 20px;
  opacity: 0.35;
  text-shadow: rgba(0, 0, 0, 1) 0px -1px 1px;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.settings:hover,
.reset:hover {
  opacity: 1;
}

.settings {
  float: left;
}

.reset-timer {
  float: right;
  margin-top: -20px;
  margin-bottom: 10px;
}
.reset-money {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
}

audio {
  display: none;
}

/* clearfix */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
